
/* Definição de fontes */

@font-face {
    font-family: poppins;
    src: url("../fontes/Poppins-Regular.ttf") format(truetype);  font-weight: 700;  
    font-style: normal;
    font-display: swap ;

}


/* Reset */
*{ 
    margin: o; 
    padding: 0;
}

/* Layout */

header img{

    display: block;
    margin-top: 75px ;
    margin-left: 120px;
}

body {

    background-color: #0E1014;color: #ffffff;

}

h1{

    font-size: 64px;
    font-family:"unbouded", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
   /* font-family: serif ;*/
   /*font-family: sans serif*/
   /*font-family: monospace*/
   /*font-family: fantasy*/
   /*font-family: cursive */
}
h1 span{

    color: #9747ff;
}

a{

    color: #ffffff;
    font-size: 32px;
    font-family: "poppins , sans serif;";
    text-decoration: none;
    background-color:#9747ff ;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
    
}

a:hover{

    background-color: #8233E8;
}

p{

    font-size:24px;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;

    }

section img{

    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}


@media(max-width: 768px) {


    header img{ margin: 65px 0 0 60px}
   
    p{width:648px;}

    
}

    @media(max-width: 375px) {


        header img{

            margin: 32px 0 0 16px;
                }

                h1{ font-size: 40px;}
                 
                p{

                    font-size: 20;
                    width: 340px;
                }

                a{

                    font-size:20px;
                    width: 251px;

                }

                section img{

                width: 340px;
                height: 230px;
                }
    }
